.container {
  padding: 0px;
}
.panel-heading {
  text-align: center;
  font-size: 26px;
}
.input {
  width: 65%;
  float: right;
}
.input_field {
  margin-bottom:25px;
}
.panel-body {
  background: white;
  border-radius: 16px;
  padding: 16px;
  padding-top: 32px;
}
.panel {
  padding-top:40px;
}
.panel-body > h1 {
  font-size:30px;
  text-align:center;
  margin-bottom: 28px;
  
} 